body {
    background-color: #4CA0D5;
    background-image: linear-gradient(to bottom, #4CA0D5, #ffffff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}