.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
    height: 100px;
}

.logo h1 {
    margin-top: 10px;
    color: white;
    color: #ffffff;
}
